.form {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
  background-color: #fff;
  border-radius: 4px;
  animation: slide-up-fade-in 0.8s ease-out forwards;

  &__controls {
    width: 60%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
  }

  &__title {
    margin-bottom: 2rem;
  }

  .MuiTypography-root.MuiTypography-h4 {
    letter-spacing: 6px;
    color: rgb(0, 179, 255, 0.7);
    font-weight: 100;
  }

  .MuiButtonBase-root.MuiButton-root.MuiButton-outlined {
    letter-spacing: 1px;
    font-weight: 300;
  }

  .MuiFormControl-root.MuiFormControl-fullWidth.MuiTextField-root {
    height: 60px;
    width: 100%;
  }

  .MuiButtonBase-root.MuiButton-root.MuiButton-outlined {
    height: 50px;
  }
}

@keyframes slide-up-fade-in {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
